.card, .abd, .card1 {
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    background-color:white;
    /* flex-direction: column row calc(20px); */
    overflow: hidden;

}
body {

  background-color: antiquewhite;
}

.image {
    width: 100%;
}

.matter {
    padding: 10px;
}

h1 {
    margin: 0px;
    text-align: center;
}

p {
    text-align: justify;
}

.button {
    padding: 10px 10px 10px 10px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 10px;
}
.imgabd{
    width: 100%;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}